@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="text-center m-5">
        <h1 class="display-4 bg-primary fw-bold rounded-3">Welcome to Cinemini!</h1>
        <h2><a href="/movies">Enter the Movies...</a></h2>
    </div>
</div>
