@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center m-5">
        <h1 class="display-4 bg-primary fw-bold">Welcome to Cinemini!</h1>
        <h2><a href="/movies">Enter Movies...</a></h2>
    </div>
</div>
